@tailwind base;
@tailwind components;
@tailwind utilities;


.return-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .return-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }